
.SearchPanel{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:100px;
}
.selectContainer{
    max-width: 240px;
    width: 100%;
}
.dropDownBtnContainer{
    position: absolute;
    z-index: 2;
    right: 0;
    background-color: var(--color-dark-500);
    cursor:pointer;
    border: 1px solid var(--color-dark-100);
}

.dropDownBtn {
    display: flex;
    gap: 12px;
    padding: 12px;
    white-space: nowrap;
    background-color: var(--color-dark-500);
}
.dropDownBtn:hover {
    background-color: var(--color-dark-300);
}
.dropDownBtn:active {
    background-color: var(--color-dark-100);
}

.link{
    color: var(--color-accent-500);
}.link:hover{
     color: var(--color-accent-700);
 }

.sortHeader {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    color: white;
    gap: 4px;
}


